.title_financial h1 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0.75rem;
}

.table_financial {
	white-space: nowrap;
	width: 100%;
}

.table_financial th {
	background-color: #f6f7f8;
}

.table_financial tr:not(:first-child) {
	border-top: 1px solid #ddd;
}

.table_financial tr th {
	padding: 7px 12px;
	font-weight: 600;
}

.table_financial tr td:first-child {
	background-color: #f6f7f8;
}

.table_financial tr td {
	min-width: 100px;
	padding: 5px 12px;
}

.table_financial tr > *:not(:last-child) {
	border-right: 1px solid;
	border-color: rgba(209, 213, 219, 1);
}

.table_financial td:first-child,
.table_financial th:first-child {
	text-align: left;
}

.table_financial td:not(:first-child),
.table_financial th:not(:first-child) {
	text-align: right;
}

.table_financial svg {
	stroke: #777;
	transition-delay: 0.1s;
	width: 22px;
	height: 22px;
	margin: 0 5px;
}

.table_financial tr:hover td {
	background-color: #f2f9ff !important;
}

.bigTooltipText {
	font-size: 1rem !important;
	padding: 0.3rem;
}

.iconcell {
	padding: 0 !important;
}

.iconcelldiv {
	padding: 3px;
	border: 1px solid;
	border-color: transparent;
	border-top: none;
	transition-delay: 0.1s;
	z-index: 10;
	position: relative;
}

.iconcelldiv:hover,
.iconcelldiv:focus {
	background-color: white;
	border-color: rgba(229, 231, 235, 1);
	z-index: 9999;
}

.iconcelldiv:hover svg {
	stroke: #2c6288;
}

.table_financial svg:focus {
	stroke: #2c6288;
}

@media screen and (max-width: 639px) {
	.table_financial {
		font-size: 0.875rem;
	}

	.table_financial tr th {
		padding: 6px 8px;
	}

	.table_financial tr td {
		min-width: 80px;
		padding: 4px 8px;
	}
}
