.actionstable {
	width: 100%;
}

.actionstable tr > * {
	padding: 0.5rem;
	border-bottom: 1px solid #ddd;
}

.actionstable tr > *:first-child {
	padding-left: 0.8rem;
}

.actionstable tr > *:last-child {
	padding-left: 0.8rem;
}

.actionstable tr th {
	text-align: left;
	font-size: 1.05rem;
	border-top: 1px solid #ddd;
	white-space: nowrap;
}

.actionstable tr > *:not(:last-child) {
	white-space: nowrap;
}

.actionstable tr:hover td {
	background-color: #f2f9ff !important;
}

.striped tr:nth-child(odd) {
	background-color: #f6f7f8;
}

.striped tr th {
	font-weight: 600;
	background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.actionstable tr > * {
		padding: 0.5rem 0.3rem;
	}
	.actionstable tr > *:first-child {
		padding-left: 0.6rem;
	}
	.actionstable tr > *:last-child {
		padding-right: 0.6rem;
	}
}

@media screen and (max-width: 600px) {
	.actionstable tr th {
		font-size: 0.95rem;
	}
	.actionstable tr td {
		font-size: 0.9rem;
	}
	.actionstable tr td {
		white-space: nowrap;
	}
}

@media screen and (max-width: 400px) {
	.actionstable tr > *:first-child {
		padding-left: 0.5rem;
	}
	.actionstable tr > *:last-child {
		padding-right: 0.5rem;
	}
}
