@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-gray-900 bg-white;
	}
	.touch-auto {
		touch-action: auto;
	}
	.touch-none {
		touch-action: none;
	}

	.skip-nav {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.skip-nav:focus {
		background: white;
		clip: auto;
		height: auto;
		left: 10px;
		padding: 0.65rem 0.8rem;
		position: fixed;
		top: 10px;
		width: auto;
		z-index: 1001;
	}

	#main {
		scroll-margin-top: 68px;
	}

	.navmenu a::before,
	.navmenu li span::before {
		display: block;
		content: attr(data-title);
		font-weight: 600;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.navmenu {
		@apply w-full flex flex-row whitespace-nowrap overflow-x-auto;
	}

	@media screen and (max-width: 600px) {
		.navmenu:not(.noshadow) {
			background-image: linear-gradient(to right, white, white),
				linear-gradient(to right, white, white),
				linear-gradient(
					to right,
					rgba(150, 150, 150, 0.15),
					rgba(255, 255, 255, 0)
				),
				linear-gradient(
					to left,
					rgba(150, 150, 150, 0.15),
					rgba(255, 255, 255, 0)
				);
			background-position: left center, right center, left center,
				right center;
			background-repeat: no-repeat;
			background-color: white;
			background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
			background-attachment: local, local, scroll, scroll;
		}
	}

	.navmenu.submenu {
		background-image: none;
	}

	/* Thin scrollbar */
	.thin-scroll {
		/* Firefox only */
		scrollbar-width: thin;
		scrollbar-color: #bbb #fff;
	}

	.thin-scroll::-webkit-scrollbar {
		width: 5px; /* width of the entire scrollbar */
	}

	.thin-scroll::-webkit-scrollbar-track {
		background: #fff; /* color of the tracking area */
	}

	.thin-scroll::-webkit-scrollbar-thumb {
		background-color: #bbb; /* color of the scroll thumb */
		border-radius: 0; /* roundness of the scroll thumb */
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scroll::-webkit-scrollbar,
	.navmenu::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scroll,
	.navmenu {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Prevent layout shift when element changes slightly */
	.dont-move::before {
		display: block;
		content: attr(data-title);
		font-weight: 600;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.navmenu li a,
	.navmenu li span {
		@apply text-sm xs:text-base block py-1.5 sm:py-2 px-2 xs:px-3 sm:px-5;
	}

	.navmenu.smaller li a,
	.navmenu.smaller li span {
		@apply text-sm xs:text-smaller sm:px-4;
	}

	.navmenu.submenu li a,
	.navmenu.submenu li span {
		@apply px-2.5 bp:px-3 sm:px-4 text-sm xs:text-small bp:text-base;
	}

	.navmenu.submenu.tight li a {
		@apply text-tiny xs:text-small bp:text-base px-1.5 xs:px-2 bp:px-2.5 sm:px-4;
	}

	.navmenu.submenu li span {
		@apply cursor-pointer;
	}

	.navmenu li a.active,
	.navmenu li span.active {
		@apply text-gray-900 bg-[#eee] font-semibold;
	}

	.navmenu.darkbg li span.active {
		@apply bg-gray-200;
	}

	.navmenu li a.inactive,
	.navmenu li span.inactive {
		@apply bll hover:bg-gray-100 transition duration-100 cursor-pointer;
	}

	.navmenu.darkbg li span.inactive {
		@apply hover:bg-gray-200;
	}

	@media (hover: none) {
		.navmenu li a.inactive,
		.navmenu li span.inactive {
			@apply hover:bg-transparent hover:text-blue-link;
		}
	}

	.contain {
		/* Container for the main content, but not if full-width on mobile */
		@apply px-3 xs:px-4 lg:px-6 mx-auto w-full xl:max-w-screen-xl;
	}

	.uncontain {
		/* Remove the container */
		@apply px-0 mx-0 w-auto max-w-none;
	}

	.breadcrumbs ol {
		@apply flex flex-wrap text-sm sm:text-small text-gray-600 sm:mb-0.5;
	}

	nav.breadcrumbs li:not(:first-child)::before {
		margin: 0 6px;
		content: '»';
	}

	.bll {
		@apply text-blue-link hover:text-gray-900;
	}

	.hh1 {
		@apply text-3xl font-bold mb-4;
	}

	.hh2 {
		@apply text-2xl font-bold mb-3;
	}

	.hh3 {
		@apply text-xl font-bold mb-2.5 xs:mb-3;
	}

	.text-page {
		@apply text-base md:text-lg;
	}

	.text-page .article-header {
		@apply mb-4 md:mb-6 border-blue-brand_sharp border-b-2 pb-3 md:pb-3;
	}

	.text-page h1 {
		@apply text-3xl md:text-4xl font-bold mb-3 text-gray-800;
	}

	.text-page h2 {
		@apply text-2xl md:text-3xl font-bold mb-5 md:mb-6;
	}

	.text-page h3 {
		@apply text-xl md:text-2xl font-bold mb-3 md:mb-4;
	}

	.text-page p {
		@apply mb-5;
	}

	.text-page a {
		@apply bll;
	}

	.text-page .article-header a {
		@apply text-gray-700 hover:text-black;
	}

	.text-page ul {
		list-style: disc;
		@apply ml-8 md:ml-10 mb-5;
	}

	.text-page ol {
		list-style: decimal;
		@apply ml-6 md:ml-8 mb-5;
	}

	.text-page li {
		@apply mb-3;
	}

	.text-page table {
		@apply mb-6 w-full;
	}

	.text-page table tr {
		@apply border-b first:border-t border-gray-200;
	}

	.text-page table tr th {
		@apply py-2 sm:px-3;
	}

	.text-page table tr td {
		@apply py-2 sm:px-3;
	}

	.text-page img {
		@apply my-6 md:my-7 mx-auto;
	}

	.text-page img.add-border {
		@apply border border-gray-200;
	}

	.text-page .summary {
		@apply border border-gray-300 bg-gray-50 rounded p-4 mb-6 md:mb-8;
	}

	.profilewrap {
		width: calc(100% - 336px - 40px);
	}

	.red {
		color: red;
	}

	.green {
		color: green;
	}

	.text-shadow {
		text-shadow: 0 0 0.5px #555555;
	}

	.news-article {
		@apply bg-white p-4 md:px-0 sm:py-6 last:pb-1 shadow sm:shadow-none sm:grid sm:grid-cols-news gap-4 lg:gap-5 last:shadow-none;
	}

	.news-article > a {
		@apply sm:mt-1;
	}

	.news-article > a > img {
		@apply rounded;
	}

	.news-article > div {
		@apply flex flex-col;
	}

	.news-article > div > h3 {
		@apply text-xl font-bold mb-2 mt-3 sm:mt-0 leading-snug sm:leading-tight sm:order-2 hover:text-blue-brand_sharp;
	}

	.news-article > div > p {
		@apply text-gray-800 sm:order-3 text-[0.95rem];
	}

	.news-article > div > div.news-t {
		@apply mt-1.5 sm:mt-1 sm:order-4;
	}

	.news-article > div > div:last-child,
	.news-video > div:last-child {
		@apply mt-1 text-sm text-gray-700 sm:order-1 sm:mt-0;
	}

	.news-spns {
		@apply bg-white p-4 md:px-0 sm:py-6 lg:pt-6 lg:pb-4 shadow sm:shadow-none;
	}

	.news-video {
		@apply flex flex-col bg-white p-4 md:px-0 sm:py-6 last:pb-1 sm:first:pt-4 shadow sm:shadow-none last:shadow-none;
	}

	.news-video > h3 {
		@apply text-xl font-bold mb-2.5 xs:mb-3 leading-snug sm:leading-tight sm:order-2;
	}

	.news-video > div.news-e {
		@apply mb-3 sm:order-3 lg:pr-2;
	}

	.news-video > p {
		@apply text-gray-800 sm:order-4 text-[0.95rem];
	}

	.news-video > div.news-t {
		@apply mt-1.5 sm:mt-1 sm:order-5;
	}

	.news-ticker {
		@apply inline-flex items-center px-1.5 py-0.5 ml-1 sm:ml-1.5 mb-1 rounded-md text-sm font-medium bg-gray-100 hover:bg-gray-200 bll;
	}

	.price-chart {
		@apply flex space-x-[3px] xs:space-x-1 whitespace-nowrap overflow-x-auto hide-scroll pl-0.5;
	}

	.price-chart > li > button {
		@apply text-smaller py-1 px-0.5 xs:px-[3px] bp:px-1.5 sm:px-2 rounded-md;
	}

	.price-chart > li > button {
		@apply sm:px-3;
	}

	.price-chart > li > button.inactive {
		@apply text-gray-900 hover:text-gray-900 hover:text-shadow;
	}

	.price-chart > li > button.active {
		@apply bp:bg-gray-100 text-gray-800 font-semibold;
	}

	.price-chart > li > button > span:first-child {
		@apply block sm:hidden lg:block xl:hidden;
	}

	.price-chart > li > button > span:last-child {
		@apply hidden sm:block lg:hidden xl:block;
	}

	.top-table {
		@apply text-small w-[48%] lg:w-auto lg:min-w-[210px] text-gray-900;
	}

	.top-table tr {
		@apply flex flex-col sm:table-row border-b border-gray-200 py-1 sm:py-0;
	}

	.top-table tr td {
		@apply py-[1px] sm:py-2 px-1 whitespace-nowrap;
	}

	.top-table tr td:last-child {
		@apply text-left sm:text-right text-base sm:text-small font-semibold;
	}

	.green-quote {
		@apply text-green-700;
	}

	.green-quote::before {
		content: '+';
	}

	.dropd {
		@apply max-h-[265px] w-full bg-white absolute top-9 xs:top-10 border border-gray-200 overflow-y-auto shadow-lg opacity-0 transition-opacity duration-150;
	}

	.dropd.active {
		@apply opacity-100;
	}

	.m-menu {
		@apply bg-white shadow-xl absolute w-full opacity-0 transition-opacity duration-150;
	}

	.m-menu.active {
		@apply block opacity-100;
	}

	.profile-table tr:not(:last-child) {
		@apply border-b border-gray-200;
	}

	/* SYMBOL TABLE + SCREENER */

	.symbol-table {
		@apply w-full;
	}

	.symbol-table.smaller {
		@apply text-smaller;
	}

	.symbol-table a {
		@apply bll;
	}

	.symbol-table tr > * {
		@apply p-2;
		border-bottom: 1px solid #ddd;
	}

	.symbol-table.smaller tr > * {
		@apply py-[7px];
	}

	.symbol-table tr > *:first-child {
		padding-left: 0.8rem;
	}

	.symbol-table tr > *:last-child {
		padding-right: 0.8rem;
	}

	.symbol-table tr th {
		background-color: #ffffff;
		text-align: left;
		border-top: 1px solid #ddd;
		white-space: nowrap;
	}

	.symbol-table tr:nth-child(odd) {
		background-color: #f6f7f8;
	}

	.symbol-table tr:hover td {
		background-color: #f2f9ff !important;
	}

	#screener-table tr > th {
		@apply font-semibold;
	}

	#screener-table tr > * {
		max-width: 220px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#screener-table tr > *:first-child {
		width: 100px;
	}

	#screener-table tr > *:nth-child(2) {
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	/* INDEX TABLES */
	.symbol-table.index tr > *:nth-child(n + 4) {
		text-align: right;
	}

	.symbol-table.index tr td:not(:nth-child(2)) {
		white-space: nowrap;
	}

	@media screen and (max-width: 1200px) {
		.symbol-table tr > * {
			padding: 0.5em 0.3em;
		}
		.symbol-table tr > *:first-child {
			padding-left: 0.6rem;
		}
		.symbol-table tr > *:last-child {
			padding-right: 0.6rem;
		}
	}

	@media screen and (max-width: 600px) {
		.symbol-table tr th {
			font-size: 0.95rem;
		}
		.symbol-table tr td {
			font-size: 0.9rem;
		}
		.symbol-table tr td {
			white-space: nowrap;
		}
		.symbol-table.index tr td:nth-child(2) {
			max-width: 280px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	@media screen and (max-width: 400px) {
		.symbol-table tr > *:first-child {
			padding-left: 0.5rem;
		}
		.symbol-table tr > *:last-child {
			padding-right: 0.5rem;
		}
		.symbol-table.index tr td:nth-child(2) {
			max-width: 260px;
		}
	}

	/* IPO TABLE */

	.ipotable {
		width: 100%;
	}

	.ipotable tr th {
		text-align: left;
		font-size: 1.05rem;
		font-weight: 600;
		border-top: 1px solid #ddd;
		background-color: #ffffff;
	}

	.ipotable tr > * {
		padding: 0.5rem;
		border-bottom: 1px solid #ddd;
		white-space: nowrap;
	}

	.ipotable tr > *:first-child {
		padding-left: 0.8rem;
	}

	.ipotable tr > *:last-child {
		padding-right: 0.8rem;
	}

	.ipotable tr > *:nth-child(n + 4) {
		text-align: right;
	}

	.ipotable tr > *:nth-child(n + 4) span {
		justify-content: end;
	}

	.ipotable tr:hover td {
		background-color: #f2f9ff !important;
	}

	.ipotable tr:nth-child(odd) {
		background-color: #f6f7f8;
	}

	.ipotable tr > *:nth-child(3) {
		max-width: 240px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@media screen and (max-width: 1200px) {
		.ipotable tr > * {
			padding: 0.6em 0.3em;
		}
		.ipotable tr > *:first-child {
			padding-left: 0.6rem;
		}
		.ipotable tr > *:last-child {
			padding-right: 0.6rem;
		}
		.ipotable tr > *:nth-child(3) {
			max-width: 180px;
		}
	}

	@media screen and (max-width: 600px) {
		.ipotable tr th {
			font-size: 0.95rem;
		}
		.ipotable tr td {
			font-size: 0.9rem;
		}
		.ipotable tr > *:nth-child(3) {
			max-width: 170px;
		}
	}

	@media screen and (max-width: 400px) {
		.ipotable tr > *:first-child {
			padding-left: 0.5rem;
		}
		.ipotable tr > *:last-child {
			padding-right: 0.5rem;
		}
		.ipotable tr > *:nth-child(3) {
			max-width: 155px;
		}
	}

	.center-children div iframe {
		@apply mx-auto text-center;
	}
}

/* .lbl::before {
	content: 'Advertisement';
	@apply block text-xxs leading-3 text-gray-400 text-center mb-0.5;
}

.ccpa-msg-added {
	@apply max-w-3xl mx-auto text-base text-center text-gray-400 border-t border-gray-700 pt-5 pb-6 lg:pb-1;
}

.ccpa-msg-added a {
	@apply font-semibold;
}

.ccpa-msg-added a:hover {
	@apply text-gray-300;
} */

/* NPROGRESS */
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: rgba(60, 125, 212);

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px rgba(60, 125, 212), 0 0 5px rgba(60, 125, 212);
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

/* YOUTUBE EMBED */
.yt-lite {
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: 50%;
	background-size: cover;
	cursor: pointer;
}
.yt-lite:after {
	content: '';
	display: block;
	padding-bottom: 56.25%;
}
.yt-lite > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.yt-lite > .lty-playbtn {
	width: 70px;
	height: 46px;
	background-color: #212121;
	z-index: 1;
	opacity: 0.8;
	border-radius: 14%;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
	background-color: red;
	opacity: 1;
}
.yt-lite > .lty-playbtn:before {
	content: '';
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 11px 0 11px 19px;
}
.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.yt-lite.lyt-activated {
	cursor: unset;
}
.yt-lite.lyt-activated:before,
.yt-lite.lyt-activated > .lty-playbtn {
	opacity: 0;
	pointer-events: none;
}

/* PAYWALL */
.pw-shadow > div:last-child {
	position: relative;
}
.pw-shadow > div:last-child:after {
	content: '';
	height: 60%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}
