@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-gray-900;
	}

	.skip-nav {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.skip-nav:focus {
		background: white;
		clip: auto;
		height: auto;
		left: 10px;
		padding: 0.65rem 0.8rem;
		position: fixed;
		top: 10px;
		width: auto;
		z-index: 1001;
	}

	#main {
		scroll-margin-top: 68px;
	}

	.navmenu a::before,
	.navmenu li span::before {
		display: block;
		content: attr(data-title);
		font-weight: 600;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.navmenu {
		background-image: linear-gradient(to right, white, white),
			linear-gradient(to right, white, white),
			linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0)),
			linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0));
		background-position: left center, right center, left center, right center;
		background-repeat: no-repeat;
		background-color: white;
		background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
		background-attachment: local, local, scroll, scroll;
		@apply w-full flex flex-row whitespace-nowrap overflow-x-auto sm:overflow-visible;
	}

	.navmenu li a,
	.navmenu li span {
		@apply text-sm xs:text-base block py-1.5 sm:py-2 px-2 xs:px-3 sm:px-5;
	}

	.navmenu.submenu li a,
	.navmenu.submenu li span {
		@apply px-2.5 bp:px-3 sm:px-4 text-sm xs:text-small bp:text-base;
	}

	.navmenu.submenu li span {
		@apply cursor-pointer;
	}

	.navmenu li a.active,
	.navmenu li span.active {
		@apply text-gray-900 bg-[#eee] font-semibold;
	}

	.navmenu li a.inactive,
	.navmenu li span.inactive {
		@apply bll hover:bg-gray-100 transition duration-100;
	}

	@media (hover: none) {
		.navmenu li a.inactive,
		.navmenu li span.inactive {
			@apply hover:bg-white hover:text-blue-link;
		}
	}

	.contain {
		/* Container for the main content, but not if full-width on mobile */
		@apply px-3 xs:px-4 lg:px-6 mx-auto w-full xl:max-w-screen-xl;
	}

	.uncontain {
		/* Remove the container */
		@apply px-0 mx-0 w-auto max-w-none;
	}

	.breadcrumbs ol {
		@apply flex flex-wrap text-sm sm:text-small text-gray-600 sm:mb-0.5;
	}

	nav.breadcrumbs li:not(:first-child)::before {
		margin: 0 6px;
		content: '»';
	}

	.bll {
		@apply text-blue-link hover:text-gray-900;
	}

	.hh1 {
		@apply text-3xl font-bold mb-4;
	}

	.hh2 {
		@apply text-2xl font-bold mb-3;
	}

	.hh3 {
		@apply text-xl font-bold mb-2.5 xs:mb-3;
	}

	.text-page {
		@apply text-base md:text-lg;
	}

	.text-page .article-header {
		@apply mb-4 md:mb-6 border-blue-brand_sharp border-b-2 pb-3 md:pb-3;
	}

	.text-page h1 {
		@apply text-3xl md:text-4xl font-bold mb-3 text-gray-800;
	}

	.text-page h2 {
		@apply text-2xl md:text-3xl font-bold mb-5 md:mb-6;
	}

	.text-page h3 {
		@apply text-xl md:text-2xl font-bold mb-3 md:mb-4;
	}

	.text-page p {
		@apply mb-5;
	}

	.text-page a {
		@apply bll;
	}

	.text-page .article-header a {
		@apply text-gray-700 hover:text-black;
	}

	.text-page ul {
		list-style: disc;
		@apply ml-8 md:ml-10 mb-5;
	}

	.text-page ol {
		list-style: decimal;
		@apply ml-6 md:ml-8 mb-5;
	}

	.text-page li {
		@apply mb-3;
	}

	.text-page table {
		@apply mb-6 w-full;
	}

	.text-page table tr {
		@apply border-b first:border-t border-gray-200;
	}

	.text-page table tr th {
		@apply py-2 sm:px-3;
	}

	.text-page table tr td {
		@apply py-2 sm:px-3;
	}

	.text-page img {
		@apply my-6 md:my-7 mx-auto;
	}

	.text-page img.add-border {
		@apply border border-gray-200;
	}

	.text-page .summary {
		@apply border border-gray-300 bg-gray-50 rounded p-4 mb-6 md:mb-8;
	}

	.profilewrap {
		width: calc(100% - 336px - 40px);
	}

	.red {
		color: red;
	}

	.green {
		color: green;
	}

	.text-shadow {
		text-shadow: 0 0 0.5px #555555;
	}

	.news-article {
		@apply bg-white p-4 sm:px-0 sm:py-6 first:pt-5 last:pb-1 shadow sm:shadow-none sm:grid sm:grid-cols-news gap-4 lg:gap-5;
	}

	.news-spns {
		@apply bg-white p-4 sm:px-0 sm:py-6 first:pt-5 last:pb-1 shadow sm:shadow-none;
	}

	.news-video {
		@apply flex flex-col bg-white p-4 sm:px-0 sm:py-6 first:pt-3 last:pb-1 sm:first:pt-4 shadow sm:shadow-none;
	}

	.news-ticker {
		@apply inline-flex items-center px-1.5 py-0.5 ml-1 sm:ml-1.5 mb-1 rounded-md text-sm font-medium bg-gray-100 hover:bg-gray-200 bll;
	}

	.green-quote {
		@apply text-green-700;
	}

	.green-quote.reg::before {
		content: '+';
	}

	.dropd {
		@apply max-h-[265px] w-full bg-white absolute top-10 border border-gray-200 overflow-y-auto shadow-lg opacity-0 transition-opacity duration-150;
	}

	.dropd.active {
		@apply opacity-100;
	}

	.m-menu {
		@apply bg-white shadow-xl absolute w-full opacity-0 transition-opacity duration-150;
	}

	.m-menu.active {
		@apply block opacity-100;
	}
}

.lbl::before {
	content: 'Advertisement';
	@apply block text-xxs leading-3 text-gray-400 text-center mb-0.5;
}

.actionstable {
	width: 100%;
}

.actionstable tr > * {
	padding: 0.5rem;
	border-bottom: 1px solid #ddd;
}

.actionstable tr > *:first-child {
	padding-left: 0.8rem;
}

.actionstable tr > *:last-child {
	padding-left: 0.8rem;
}

.actionstable tr th {
	text-align: left;
	font-size: 1.05rem;
	border-top: 1px solid #ddd;
	white-space: nowrap;
}

.actionstable tr > *:not(:last-child) {
	white-space: nowrap;
}

.actionstable tr:hover td {
	background-color: #f2f9ff !important;
}

.striped tr:nth-child(odd) {
	background-color: #f6f7f8;
}

.striped tr th {
	font-weight: 600;
	background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.actionstable tr > * {
		padding: 0.5rem 0.3rem;
	}
	.actionstable tr > *:first-child {
		padding-left: 0.6rem;
	}
	.actionstable tr > *:last-child {
		padding-right: 0.6rem;
	}
}

@media screen and (max-width: 600px) {
	.actionstable tr th {
		font-size: 0.95rem;
	}
	.actionstable tr td {
		font-size: 0.9rem;
	}
	.actionstable tr td {
		white-space: nowrap;
	}
}

@media screen and (max-width: 400px) {
	.actionstable tr > *:first-child {
		padding-left: 0.5rem;
	}
	.actionstable tr > *:last-child {
		padding-right: 0.5rem;
	}
}

/* NPROGRESS */
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: rgba(60, 125, 212);

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px rgba(60, 125, 212), 0 0 5px rgba(60, 125, 212);
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}
