.table {
	white-space: nowrap;
}

.table tr td {
	padding: 4px 8px;
}

.table_striped {
}

.table_striped th {
	background-color: #f6f7f8;
}

.table_striped tr:nth-child(even) {
	background-color: #f6f7f8;
}

.table_financial tr th {
	padding: 8px 12px;
	font-weight: 600;
}

.table_financial tr td {
	padding: 6px 10px;
}

.table_financial td:first-child,
.table_financial th:first-child {
	text-align: left;
}

.table_financial td:not(:first-child),
.table_financial th:not(:first-child) {
	text-align: right;
}

.title_financial h1 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0.75rem;
}

.table_financial svg {
	stroke: #777;
	transition-delay: 0.1s;
	width: 23px;
	height: 23px;
	margin-left: 1rem;
}

.table_financial svg:hover {
	stroke: #2c6288;
}

.table_financial svg:focus {
	stroke: #2c6288;
}
