.table {
	white-space: nowrap;
}

.table tr td {
	padding: 4px 8px;
}

.table_striped {
}

.table_striped th {
	background-color: #f6f7f8;
}

.table_striped tr:nth-child(even) {
	background-color: #f6f7f8;
}

.table_financial tr th {
	padding: 8px 12px;
	font-weight: 600;
}

.table_financial tr td {
	padding: 6px 10px;
}

.table_financial td:first-child,
.table_financial th:first-child {
	text-align: left;
}

.table_financial td:not(:first-child),
.table_financial th:not(:first-child) {
	text-align: right;
}

.title_financial h1 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0.75rem;
}

.table_financial svg {
	stroke: #777;
	transition-delay: 0.1s;
	width: 22px;
	height: 22px;
	margin: 0 5px;
}

.bigTooltipText {
	font-size: 1rem !important;
	padding: 0.3rem;
}

.iconcell {
	padding: 0 !important;
}

.iconcelldiv {
	padding: 3px;
	border: 1px solid;
	border-color: transparent;
	border-top: none;
	transition-delay: 0.1s;
	z-index: 10;
	position: relative;
}

/* border border-t-0 delay-100 border-transparent hover:border-gray-300 hover:bg-white relative z-10 hover:z-50; */

.iconcelldiv:hover,
.iconcelldiv:focus {
	background-color: white;
	border-color: rgba(229, 231, 235, 1);
	z-index: 9999;
}

.iconcelldiv:hover svg {
	stroke: #2c6288;
}

.table_financial svg:focus {
	stroke: #2c6288;
}
