.table {
	white-space: nowrap;
}

.table tr td {
	padding: 4px 8px;
}

.table_striped {
}

.table_striped th {
	background-color: #f6f7f8;
}

.table_striped tr:nth-child(even) {
	background-color: #f6f7f8;
}

.table_financial tr th {
	padding: 8px 12px;
	font-weight: 600;
}

.table_financial tr td {
	padding: 6px 10px;
}

.table_financial tr *:first-child {
	text-align: left;
}

.table_financial tr *:not(:first-child) {
	text-align: right;
}
